In [5]:
mylist = [1,2,3]

# The common for loop

In [6]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

# Start at 3 up to 10 but not including

In [7]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

# Start at 3 up to 10 but not including, in increments of 2

In [8]:
for num in range(3,10,2):
    print(num)

3
5
7
9

# Can cast range into a list

In [9]:
range(0,10,2)

range(0, 10, 2)

In [10]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

# Enumerate keyword

In [11]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [13]:
index_count = 0
word = 'abcde'

for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [14]:
for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [16]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

# Zip Keyword

In [23]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']

Ignores the extra bits in mylist1 when zippin

In [19]:
zip(mylist1,mylist2)

In [24]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [21]:
mylist3 = [100,200,300]

In [25]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [27]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

# In Operator

In [28]:
'x' in [1,2,3]

False

In [29]:
'x' in ['x','y','z']

True

In [30]:
'a' in 'a world'

True

In [31]:
'mykey' in {'mykey': 345}

True

In [33]:
d = {'mykey': 345}
345 in d.values()

True

In [34]:
d = {'mykey': 345}
345 in d.keys()

False

# Min and Max

In [35]:
min(mylist)

1

In [36]:
max(mylist)

3

# Random library

In [37]:
from random import shuffle

In [38]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [39]:
shuffle(mylist)

In [41]:
mylist

[1, 3, 4, 6, 7, 2, 9, 10, 5, 8]

In [43]:
shuffle(mylist)

In [44]:
mylist

[10, 7, 1, 2, 5, 8, 4, 9, 3, 6]

In [45]:
from random import randint

In [46]:
randint(0,100)

21

In [48]:
randint(0,100)

60

In [49]:
mynum = randint(0,10)

In [50]:
mynum

6

# Input stuff

In [55]:
result = input('What is your name? ')

What is your name? David

In [61]:
number = input('Enter a number here: ')

Enter a number here: 50

input will accept anything and return it as a string

In [57]:
type(result)

str

In [63]:
float(number)

50.0

In [64]:
int(number)

50

In [65]:
number = int(input('Enter a number here: '))

Enter a number here: 50

# ^Do this instead